@font-face {
	font-family: 'Calibre Regular';
  src: url('../../font/CalibreRegular.otf') format('opentype');
}

@font-face {
	font-family: 'Robot 9000';
  src: url('../../font/Robot9000-MVxZx.ttf') format('truetype');
}